html, body {
	height: 100%; 
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
	position: relative;
}

svg {
	/*shape-rendering: geometricPrecision;*/
	vertical-align:top;
}

/* Containers */
#map_container {
	width: 100%;
	height: 100%;
}

.city {
	fill: rgba(0,0,0,0);
	stroke: black;
	stroke-width: 0.5;
	shape-rendering: auto !important;
}

.country:hover, .city:hover {
  fill: #aaa;
  cursor: pointer;
}

.text {
  font-size:10px;
  text-transform:capitalize;
}

.hidden { 
  display: none; 
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em .5em .4em .5em; 
  opacity: 0.9; 
  position: absolute;
}

.route {
	fill: none;
	/*stroke: red; */
	/*stroke-width: 0.1;*/
	/*stroke-dasharray: 10,10;*/
}

/* Top countries */
#top_countries {
	position: absolute;

	bottom: 10px;
	right: 10px;

	background: rgba(255,255,255,0.9);
	padding: 10px;
}

#top_countries td, #top_countries th {
	padding: 5px 10px 5px 5px;
}

#top_countries td:nth-child(3), #top_countries td:nth-child(4) {
	text-align: center;
	width: 100px;
}

#top_countries th:nth-child(2) {
	text-align: left;
	width: 150px;
}

/* Legend */
#legend {
	width: 400px;

	margin: 0 0 10px 10px;
	padding: 10px;
	background: rgba(255,255,255,0.9);

	position: absolute;
	bottom: 0;
	left: 0;

	text-align: center;
}

#legend #title {
	margin: 10px;
}

#legend #legend_bar {
	background: linear-gradient(to right, #ccc, red);
}

#legend #legend_bar div {
	padding: 10px;
	font-weight: bold;
}