html, body {
	height: 100%; 
	width: 100%;
	margin: 0;
	padding: 0;
}

svg {
	shape-rendering: geometricPrecision;
}

/* Containers */
#map_container {
	width: 80%;
	height: 80%;
	float: left;
}

#ip_list {
	width: 20%;
	height: 80%;
	float: left;
}

#intensity_feed {
	width: 100%;
	height: 20%;
	clear: both;
}

/*.country {
	fill: #ccc;
}*/

.country:hover {
  fill: #aaa;
  cursor: pointer;
}

.text {
  font-size:10px;
  text-transform:capitalize;
}

.hidden { 
  display: none; 
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em .5em .4em .5em; 
  opacity: 0.9; 
  position: absolute;
  font-family: sans-serif;
}

.route {
	fill: none;
	stroke: red; 
	stroke-width: 1;
}