html, body {
	height: 100%; 
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
	position: relative;
}

svg {
	shape-rendering: geometricPrecision;
	vertical-align:top;
}

/* Containers */
#map_container {
	width: 100%;
	height: 100%;
}

#ip_list {
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(255,255,255,0.7);
	padding: 20px;
}

#ip_list table {
	width: 100%;
	text-align: center;
}

#ip_list table th {
	padding-bottom: 5px;
}

/*.country {
	fill: #ccc;
}*/

.country:hover {
  fill: #aaa;
  cursor: pointer;
}

.text {
  font-size:10px;
  text-transform:capitalize;
}

.hidden { 
  display: none; 
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em .5em .4em .5em; 
  opacity: 0.9; 
  position: absolute;
}

.route {
	fill: none;
	stroke: red; 
	stroke-width: 1;
}

/* Legend */
#legend {
	width: 400px;

	margin: 0 0 10px 10px;

	position: absolute;
	bottom: 0;
	left: 0;

	text-align: center;
}

#legend #title {
	margin: 10px;
}

#legend #legend_bar {
	background: linear-gradient(to right, #ccc, red);
}

#legend #legend_bar div {
	padding: 10px;
	font-weight: bold;
}